

<div class="row">
    <div  class="col-md-4 offset-md-4">
            <h3  class="text-cente p-3">Logowanie </h3>
             <form>
            <div class="form-group">
              <label>Nazwa Przepisu</label>
                    <input id="name" name="name" 
                    class="form-control" required
                    [(ngModel)]="recipe.name"
                    autofocus="autofocus" />
            </div>
            <div class="form-group">
              <label>Składniki</label>
                    <input id="components" name="components" 
                    class="form-control" required 
                    [(ngModel)]="recipe.components"
                    type="textarea" />
            </div>
            <div class="form-group">
                <label>Składniki</label>
                      <input id="components" name="components" 
                      class="form-control" required 
                      [(ngModel)]="recipe.difficulty"
                      type="textarea" />
              </div>
              <div class="form-group">
                  <label>Czas Przygotowania</label>
                        <input id="preparationTime" name="preparationTime" 
                        class="form-control" required 
                        [(ngModel)]="recipe.preparationTime"
                        type="textarea" />
                </div>
                <mat-radio-group>
                        <mat-radio-button value="1">Option 1</mat-radio-button>
                        <mat-radio-button value="2"> Option 2</mat-radio-button>
                
                </mat-radio-group> 
            
            <div class="form-group">          <button type="submit" class="btn btn-primary" (click)="AddRecipe()">Submit</button>
            </div>
            </form>
          
 </div>
