<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Kulinarna Aplikacja</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="admin/recipe"*ngIf="isLogged()&&isAdmin()" >Lista Przepisów</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"   routerLink="admin/recipe/new"*ngIf="isLogged()&&isAdmin()" >Dodaj Przepis</a>
          </li>
      </ul>
      <ul class=" navbar-nav float-lg-right mr-0">
        <li class="my-2 nav-item">
              <a class="nav-link disabled" routerLink="/register" *ngIf="!isLogged()">Zarejestruj <span class="sr-only">(current)</span></a>
            </li>
        <li class="my-2 nav-item">
          <a class="nav-link" 
          routerLink="/login"
          *ngIf="!isLogged()"
          >Zaloguj</a>
          <a class="nav-link  pointer" *ngIf="isLogged()"
          (click)="logout()"> 
          Wyloguj</a>
        </li>
      </ul>
    </div>
  </nav>