

<div class="row">
    <div  class="col-md-4 offset-md-4">
        <h3  class="text-cente p-3">Dodanie przepisu </h3>
        <form [formGroup]="form" (ngSubmit)="saveRecipe()" >
            <!-- <pre>{{form.value | json}}</pre>-->
                <div class="form-group">
                <label for="name">Nazwa Przepisu</label>
                        <input 
                                formControlName="name"
                                id="name" 
                                type="text" 
                                class="form-control">
                        <div class="alert alert-danger" *ngIf="name.touched&&name.invalid">      
                                <div *ngIf="name?.errors['required']">Nazwa jest wymagana</div>
                                <div *ngIf="name?.errors['maxlength']">Nazwa może zawierać maksymalnie 50</div>
                        </div>
                </div> 
                <div class="form-group">
                        <label>Składniki</label>
                        <textarea formControlName="components"                        id="components" 
                        type="text" 
                        class="form-control" rows="3"></textarea>
                      </div>
                <div class="form-group">
                  <label>Czas Przygotowania(w minutach)</label>
                        <input id="preparationTimeInMinutes" name="preparationTimeInMinutes"
                        formControlName="preparationTimeInMinutes"
                        class="form-control"
                        type="textarea" />
                </div>
                <div class="form-group">
                        <label for="difficulty">Ocena trudności</label>
                        <select class="form-control" id="difficulty" 
                        formControlName="difficulty">
                        <option value="" selected disabled hidden></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                        </select>
                </div>
                   
                <button type="submit"[disabled]="form.invalid" class="btn btn-primary" >Zapisz Przepis</button>
                <button type="button" (click)="delete()" class="btn btn-danger" >Dodaj Przepis</button>
            
        </form>
      </div>    
 </div>
