  <div class="row">       
    <div  class="col-md-6 offset-md-3">
        <h3  class="text-cente p-3">Logowanie </h3>
            <form>
                <div class="form-group">
                    <label>Email</label>
                    <input id="email" name="email" 
                    class="form-control" required
                    [(ngModel)]="user.email"
                    autofocus="autofocus" />
                </div>
                <label>Hasło</label>
                <div class="form-group">
                    <input id="password" name="password" 
                    class="form-control" required 
                    [(ngModel)]="user.password"
                    type="password" />
                </div>
                <div *ngIf="invalidLogin" class="alert alert-danger">
                        Invalid username and/or password.
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()">Zaloguj</button>
              </form>             
     </div>  
    </div>
